<h1>My Retirement</h1>
<form>
  <fieldset>
    <div class="row">
      <div class="column">
        <label> Creation Date </label>: <date-viewer [date]="retirementInfo()?.created"></date-viewer>
      </div>
      <div class="column">
        <label>Investment Amount</label> : <amount-viewer [currency]="retirementInfo()?.account?.accountCurrency"
          [amount]="retirementInfo()?.account?.chargeAmount"></amount-viewer>
        (per month)
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label>Account Number</label> : {{retirementInfo()?.account?.accountNumber}}
        <button class="btn" mat-raised-button (click)="$event.preventDefault(); openDialog()"><fa-icon
            [icon]="faPencil"></fa-icon></button>
      </div>
      <div class="column">
        <label>Accumulated investment amount</label> :
        <amount-viewer [currency]="retirementInfo()?.account?.accountCurrency"
          [amount]="retirementInfo()?.account?.accountBalance"></amount-viewer>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label>Charge Date</label> : {{retirementInfo()?.account?.chargeDate}} of the month (Next payment date:
        <date-viewer [date]="getNextChargeDate(retirementInfo()?.account?.chargeDate)"></date-viewer>)
      </div>
      <div class="column">
        <label>Current market value</label> :
        <amount-viewer [currency]="retirementInfo()?.account?.accountCurrency"
          [amount]="retirementInfo()?.account?.marketValue"></amount-viewer>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <label>Status</label> : {{retirementInfo()?.account?.status}}
      </div>
    </div>
  </fieldset>
</form>